NEXT_INTERNAL_STRAPI_API_URL=http://localhost:1337
NEXT_PUBLIC_API_URL=http://localhost:3000
NEXT_PUBLIC_UPLOADS_URL=http://localhost:1337
NEXT_INTERNAL_IMAGE_DOMAIN=localhost
NEXT_INTERNAL_IMAGE_DOMAIN_PROTOCOL=http
IMAGE_DOMAIN=
# only used when an external service (like Qualtrics) is used to display the sign in URL 
NEXT_INTERNAL_AUTH_VERIFICATION_SECRET= 
PREVIEW_SECRET=changeme

# Steam
STEAM_API_KEY=changeme
# nextAuth
NEXTAUTH_SECRET=changeme # should match backend key
NEXTAUTH_URL=http://localhost:3000

# local dev
STRAPI_PASSWORDLESS_TOKEN= # From Backend Admin UI
EMAIL_SIGNIN_ENABLED=true


DISCORD_SIGNIN_ENABLED=false
DISCORD_CLIENT_ID=
DISCORD_CLIENT_SECRET=
DISCORD_BOT_TOKEN=
GOOGLE_SIGNIN_ENABLED=false
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=