# Strapi
HOST=localhost
PORT=1337
PUBLIC_URL=http://localhost:1337
BACKEND_URL=http://localhost:1337
# Use 2-3 unique comma-separated app keys
APP_KEYS="changeme1, changeme2, changeme3"
API_TOKEN_SALT=changeme
ADMIN_JWT_SECRET=changeme
JWT_SECRET=changeme
TRANSFER_TOKEN_SALT=changeme
# User ID (Email) Hash HMAC key
USER_EMAIL_HMAC_KEY=changeme

## NextAuth
# Must match frontend config
NEXTAUTH_SECRET=changeme
NEXTAUTH_URL=http://localhost:3000

# Email
EMAIL_FROM=
EMAIL_REPLY_TO=
EMAIL_SERVER_USER=
EMAIL_SERVER_PASSWORD=
EMAIL_SERVER_HOST=
EMAIL_SERVER_PORT=
EMAIL_DOMAIN=example.com
SUPPORT_EMAIL=

# Steam
STEAM_API_KEY=changeme
ENCRYPTION_KEY=changeme

## S3 bucket
S3_ACCESS_KEY_ID=
S3_ACCESS_SECRET=
S3_REGION=
S3_BUCKET=false
S3_ENDPOINT=

# Study requirements
STEAM_REQUIRED=true
# activate even if no recent played games
STEAM_REQUIRE_OWNED_GAMES=false 
STEAM_REQUIRE_PLAYTIME_PUBLIC=true
STEAM_REQUIRE_RECENT_PLAYTIME=false
DISCORD_REQUIRED=

## Integers
STUDY_SURVEY_EXPIRATION_DAYS=7
STUDY_SURVEY_REMINDER_DAYS=3
STUDY_DAYS_BEFORE_SURVEY=7
STUDY_END_DAYS_AFTER_SURVEY=14

# Cron jobs
## these cannot be identical
STEAM_FETCH_CRON_SCHEDULE="*/10 * * * *"
REMOVE_TOKENS_CRON_SCHEDULE="0 */5 * * * *"
SURVEY_EMAIL_IMPORT_CRON_SCHEDULE_ENABLED=false
SURVEY_EMAIL_IMPORT_CRON_SCHEDULE="0 */2 * * * *"
SURVEY_ACTIVATE_CRON_SCHEDULE="*/15 * * * *"
SURVEY_ACTIVATE_CRON_SCHEDULE_ENABLED=false
PROLIFIC_DIGEST_CRON_SCHEDULE_ENABLED=false
PROLIFIC_DIGEST_CRON_SCHEDULE="0 7 * * *"

# Qualtrics
## OAuth
QUALTRICS_CLIENT_ID=
QUALTRICS_CLIENT_SECRET=
## Other
QUALTRICS_DATACENTER_ID=
QUALTRICS_SURVEY_ID=
## Default directory
QUALTRICS_DIRECTORY_ID=
QUALTRICS_MAILINGLIST_ID=
QUALTRICS_LIBRARY_ID=
QUALTRICS_MESSAGE_INVITE_ID=
QUALTRICS_MESSAGE_REMINDER_ID=

# Discord Bot
DISCORD_BOT_TOKEN=
DISCORD_GUILD=

# Prolific
PROLIFIC_API_TOKEN=
PROLIFIC_STUDY_ID=

# Slack Webook
SLACK_WEBHOOK_URL=



